@font-face {
    font-family:Bank ;
    src: url(AntipastoPro-Medium_trial.ttf);
}
       body {
            font-family:Bank,sans-serif;
            margin: 0;
            padding: 0;
            background-size: 100%;
            background-repeat: no-repeat;
            overflow-x: hidden;
            background-image: url(/img/122.jpeg)
        }
        
        html,
        body {
            margin: 0;
            padding: 0;
        }
        
        .header {
            background-color: rgb(10, 2, 51);
            color: rgb(10, 253, 2);
            padding: 0px 5px;
            width: 99.5%;
            height: 80px;
            display: flex;
            justify-content: center;
            /* Centralizar horizontalmente */
            align-items: center;
            /* Centralizar verticalmente */
            border-bottom: 2px solid rgb(1, 53, 1);
        }
        
        #welcomeUser {
            margin-top: 15px;
            margin-left: 10px;
            font-size: 20px;
            color: white;
        }
        
        #spanName {
            color: rgb(10, 253, 2);
        }
        
        #logo-jpw {
            flex-grow: 1;
            /* Faz o logotipo ocupar todo o espaço disponível */
            display: flex;
            margin-left: 38%;
            margin-top: 10px;
            /* Alinhar o logotipo ao extremo direito */
        }
        
        #logo {
            width: 120px;
        }
        
        #sidebar {
            background-color: rgb(10, 2, 51);
            width: 180px;
            height: 859px;
        }
        
        #buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 18%;
        }
        
        #extratoButton {
            margin-top: 5%;
        }
        
        #extratoButton,
        #transferenciaButton,
        #pagamentoButton {
            color: rgb(255, 255, 255);
            border-color: rgb(10, 2, 51);
            ;
        }
        
        #banco {
            display: flex;
        }
        
        .hide-saldo {
            background-image: url('eye-closed.png');
            /* ícone para senha oculta */
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 25px;
        }
        
        .show-saldo {
            background-image: url('eye-open.png');
            /* ícone para senha visível */
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 25px;
        }
        
        #conteudoBanco {
            margin-left: 29%;
            margin-top: 5%;
        }
        
        #toggleButton {
            width: 1px;
            height: 3px;
            margin-left: 43%;
        }
       
        #titleSaldo {
            margin-left: 25%;
            font-size: 300%;
            color: #ffffff
        }
        
        #saldoInput {
            color: rgb(0, 255, 8);
            margin-left: 37%;
            margin-top: 4%;
            font-family: serif;
            font-size: 300%;
        }
        
        #limite {
            margin-top: 8%;
            margin-left: 18%;
            color: white;
            font-size: 300%;
        }
        
        #valorLimite {
            color: gold;
            font-family: 'Times New Roman', Times, serif;
        }
        
        #conteudoBancoBackground {
            border: 2px solid #000000;
            padding: 10%;
            width: 900px;
            height: 400px;
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(to bottom, #030b75, rgb(10, 2, 51));
            margin-left: -200px;
            border-radius: 1em;
        }
        
        #divTransacao {
            display: flex;
            margin-top: 15px;
            margin-left: -70px;
        }
        
        .btn.btn-light {
            padding: 10%;
            width: 180px;
            border: 2px solid;
            border-radius: 10%;
            box-shadow: 0 2px 4px rgba(66, 66, 66, 0.9);
            transform: translateZ(0);
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(to bottom, #00bb00, #00ff40);
            font-size: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        }
        
        #pixIcon,
        #payIcon,
        #transferIcon {
            width: 50px;
            margin-left: -10px;
        }
        
        #transferIcon {
            margin-left: -10px;
        }
        
        #transferButtonP {
            margin-left: -19px;
        }